body {
			
	color: black;
	font-family: Verdana, Arial, Geneva, Arial Black;
	font-weight: normal;
	font-size: 15px;
	background-color: #ffcf79;

}

#name {
	
	margin-bottom: 12px; 
	font-size: 30px;
	text-align: center;

}

#picture {

	height: 300px;
	display: block;
	margin: 0 auto;

}

#email {

	text-align: center;

}

hr {

	border-color: black;

}

p.oneindent {

	text-indent: 50px;
	font-size: 14px;

}

p.twoindents {

	text-indent: 100px;
	font-size: 13px;

}

span.left {

	float: left;

}

span.right {

	float: right;

}